 /* COLOR SCHEME: http://paletton.com/#uid=30i0u0kpYtfg6Dwlavqtrolwjjk */

@media all and (min-width: 480px) {
  .Content {
    margin: 0 auto;
    max-width: 400px;
    padding: 25px 0px;
  }
}

a {
  font-weight: bold;
}

a, a:visited {
  color: white;
}

.Targets-title {
  background-color: #C24910;
  /* background-color: #E9692C; */
  font-weight: bold;
  color: white;
}

.Meals-group .list-group-item {
  background-color: #3F72A2;
}

.Meals-title.list-group-item {
  background-color: #265F97;
  font-weight: bold;
}

.list-group {
  margin: 0px;
}

.list-group-item {
  border: 0px;
}

.signout {
  float: right;
  color: white;
}

